dt { background: url(./resumeMenubg.jpg) no-repeat 5px 0; }
ul { -webkit-padding-start: 0px; padding: 0px !important; }
li { list-style:none; }
h5 { height: 26px; line-height: 26px; color: #315AAA; text-indent: 20px; font-size: 20px; }
dd { padding-left: 20px; margin: 10px; line-height: 1.8em; }
hr { border:0.5px dotted gray !important; }
@media only screen and (min-width: 536px) {
    .resumeHeadContianer {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .resumeHeadLeft {
        width: 150px;
        height:150px;
        margin-right: 30px;
    }
    .resumeHeadRight {
        display: flex;
        align-items: center;
    }
}
@media only screen and (max-width: 536px) {
    .resumeHeadContianer {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .resumeHeadLeft {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 30px;
    }
    .resumeHeadRight {
        display: flex;
        align-items: center;
    }
}
